{% extends "base.html" %}

{% load static %}
{% load socialaccount %}

{% block title %}
All Bookings
{% endblock title %}
{% block head %}
  <!-- CSS files -->
  <!-- <link rel="stylesheet" href="{% static 'base/css/home.css' %}" /> -->
{% endblock head %}
{% block content %}
<div class="h-full w-full max-w-[90vw] mx-auto pt-4 lg:pt-12 ">
    
    <div data-te-datatable-init class=" w-full overflow-x-auto mx-auto table-fixed rounded">
      <table class="">
        <thead>
          <tr>
            
            <th>Name</th>
            <th>Classroom</th>
            <th>Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Frequency</th>
            <th>Suggested By</th>
            <th>
              Booked for
            </th>
            <th>
              Approved By
            </th>
            <th>
              Booked By
            </th>
            <th>
            </th>
          </tr>
        </thead>
        <tbody class="">
          {% for booking in bookings %}
          <tr>
            <td><div class="!font-bold">
              {{booking.name}}
            </div></td>
            <td><div class="!font-bold">
              {{booking.classroom.name}}
            </div></td>
            <td>{{booking.date}}</td>
            <td>{{booking.start_time}}</td>
            <td>{{booking.end_time}}</td>
            <td>{{booking.repeatable}}</td>
            <td>
              {{booking.suggested_by.user.name}}
            </td>
            <td>
              {{booking.booked_for.user.name}}
            </td>

            <td>
              {{booking.approved_by.user.name}}
            </td>
            <td>
              {{booking.booked_by.user.name}}
            </td>
            <td>
              <div class="flex flex-row gap-3 justify-end">
                {% if is_admin or is_professor or booking.can_delete %}
                <a href="{% url 'booking:delete' booking.id %}" class="block" >
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                  </svg>
                </a>
                {% endif %}
              </div>
              
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
</div>
<script src="{% static 'js/table.js' %}"></script>

{% endblock %}
