{% extends "base.html" %}

{% load static %}
{% load socialaccount %}

{% block title %}
  Profile | {{user.name}}
{% endblock title %}
{% block head %}
  <!-- CSS files -->
  <!-- <link rel="stylesheet" href="{% static 'base/css/home.css' %}" /> -->
{% endblock head %}
{% block content %}
<div class="max-w-[98vw] lg:container mx-auto">
  <section class=" w-full grid place-items-center">
      <div class="grid place-items-center pt-16 w-full">
          <div class="rounded-md w-full max-w-5xl flex flex-col justify-center px-3">
            <div class="w-full flex flex-col">
              <div class="grid place-items-end py-4  rounded-t px-3 bg-center bg-cover bg-no-repeat origin-bottom w-full max-h-[200px] max-w-xl lg:max-w-screen-2xl mx-auto" style="background-image: linear-gradient(135deg, rgba(85, 74, 101, 0.604), rgba(34, 5, 5, 0.148)), url('{% static 'images/base/128.webp' %}');">
                <div class="flex flex-row w-full justify-between align-bottom text-zinc-200">
                    {% if profile_img %}
                    <img src="{{profile_img}}" alt="google profile image" class="w-16 h-16 lg:w-24 lg:h-24 rounded-full border border-zinc-50 relative bottom-0">
                    {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-16 h-16 lg:w-24 lg:h-24 rounded-full border border-zinc-50 relative bottom-0">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                      </svg>
                    {% endif %}
                    <li class="list-none flex justify-end flex-col text-right font-raleway">
                        <h2 class="text-xl lg:text-3xl text-transparent bg-gradient-to-r from-zinc-100 via-zinc-400 to-zinc-200 bg-clip-text font-bold uppercase h-fit tracking-wider">{{request.user.name}}</h2>
                        <h3 class=" font-bold lowercase h-fit ">{{request.user.email}}</h3>
                        <h3 class=" font-bold uppercase h-fit ">
                            {% if is_admin %}
                            Admin
                            {% elif is_professor %}
                            Professor
                            {% elif is_student %}
                            Student
                            {% else %}
                            Registration Not Complete.
                            {% endif %}
                        </h3>
                    </li>
                </div>
            </div>
            {% if not need_profile %}
            <div class="flex flex-col gap-3 py-4  rounded-b px-3 bg-zinc-800 text-zinc-50 w-full max-h-[200px] max-w-xl lg:max-w-screen-2xl mx-auto  shadow-lg shadow-zinc-800 ">
              {% if is_student %}
              <h2 class="text-lg">Student's Details</h2>
              {% elif is_professor %}
              <h2 class="text-lg">Professor's Details</h2>
              {% endif %}
              <table class="table table-auto text-sm lg:text-base">
                <tr>
                  <td>Name</td>
                  <td>{{request.user.name}}</td>
                </tr>
                {% if is_student %}
                <tr>
                  <td>Department</td>
                  <td>{{student.department.name}}</td>
                </tr>
                <tr>
                  <td>Mobile No.</td>
                  <td>{{student.mobile}}</td>
                </tr>
                <tr>
                  <td>Registration No.</td>
                  <td>{{student.reg}}</td>
                </tr>
                <tr>
                  <td>Roll No.</td>
                  <td>{{student.roll}}</td>
                </tr>
                {% elif is_professor %}
                <tr>
                  <td>Department</td>
                  <td>{{prof.department.name}}</td>
                </tr>
                <tr>
                  <td>Mobile No.</td>
                  <td>{{prof.mobile}}</td>
                </tr>
                {% endif %}
              </table>
            </div>
            {% endif %}
            </div>
            <div>
              <div class="flex flex-row w-full text-center gap-3 container mx-auto font-bold mt-4 list-none justify-between max-w-[600px] text-zinc-50 align-middle">
                {% if not needs_profile %}
                  <li class="text-xl uppercase tag-3 mx-auto"><a href="{% url 'base:profile_edit' %}">Edit Profile</a></li>
                {% else %}
                  <li class="text-xl uppercase tag-3 mx-auto"><a href="{% url 'base:register_student' %}">Register as a Student</a></li>
                  <li class="text-xl uppercase tag-3 mx-auto"><a href="{% url 'base:register_prof' %}">Register as a Professor</a></li>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="flex text-center mt-4 flex-col gap-3  mx-auto w-full">
            <ul class="list-none flex flex-col w-full">
              <h2 class="font-secondary my-3 font-bold text-xl">
                {% if is_student %}
                Bookings Under Approval
                {% elif is_professor %}
                Bookings For Approval
                {% endif %}
              </h2>
              {% if is_student or is_professor %}
              <div data-te-datatable-init class="max-w-screen-xl w-full overflow-x-auto mx-auto table-fixed rounded" id="booking_approvals">
                <table class="">
                  <thead>
                    <tr>
                      
                      <th>Name</th>
                      <th>Classroom</th>
                      <th>Date</th>
                      <th>Start Time</th>
                      <th>End Time</th>
                      <th>Frequency</th>
                      <th>Suggested By</th>
                      <th>
                        Booked for
                      </th>
                      <th>
                        Approved By
                      </th>
                      <th>
                        Booked By
                      </th>
                      <th>
                        {% if is_professor or is_admin %}
                        Approve
                      {% endif %}
                      </th>
                    </tr>
                  </thead>
                  <tbody class="">
                    {% for booking in bookings %}
                    <tr>
                      <td><div class="!font-bold">
                        {{booking.name}}
                      </div></td>
                      <td><div class="!font-bold">
                        {{booking.classroom.name}}
                      </div></td>
                      <td>{{booking.date}}</td>
                      <td>{{booking.start_time}}</td>
                      <td>{{booking.end_time}}</td>
                      <td>{{booking.repeatable}}</td>
                      <td>
                        {{booking.suggested_by.user.name}}
                      </td>
                      <td>
                        {{booking.booked_for.user.name}}
                      </td>
        
                      <td>
                        {{booking.approved_by.user.name}}
                      </td>
                      <td>
                        {{booking.booked_by.user.name}}
                      </td>
                      <td>
                        <div class="flex flex-row gap-3 justify-end">
                          {% if prof == booking.approval_for %}
                          <a href="{% url 'booking:approve' booking.id %}" class="block" >
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                              <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" />
                            </svg>
                            
                          </a>
                          {% endif %}
                          {% if is_admin or is_professor or booking.can_delete %}
                <a href="{% url 'booking:delete' booking.id %}" class="block" >
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                  </svg>
                </a>
                {% endif %}
                        </div>
                        
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              {% endif %}
            </ul>
          </div>
      </div>
  </section>
</div>
{% endblock %}
