{% load static %}
{% load socialaccount %}
<nav
  class="relative flex w-full items-center justify-between align-middle bg-slate-900 py-2 text-neutral-100 shadow-lg lg:flex-wrap lg:justify-start"
  data-te-navbar-ref>
  <div class="px-6 w-full h-fit">
    <div
      class="!visible flex-grow basis-[100%] items-center flex lg:basis-auto"
      id="navbarSupportedContentY"
      data-te-collapse-item>
      <ul class="mr-auto flex flex-row w-full justify-between" data-te-navbar-nav-ref>
        <li data-te-nav-item-ref class="my-auto">
          <a
            class="flex flex-row gap-2 align-middle py-1 pr-2 transition duration-150 ease-in-out hover:text-blue-300 lg:px-2"
            href="{% url 'base:home' %}"
            >
            <img src="{% static 'images/favicons/favicon.ico' %}" alt="" class="w-8 h-8 my-auto">
            <h4 class="font-primary text-xl uppercase my-auto hidden sm:block">Class
              Captain</h4>
            </a
          >
        </li>
        <ul class="flex flex-row align-middle font-secondary font-bold uppercase">
        {% if not user.is_authenticated %}
          <li class="my-auto mx-3">
            <form action="{% provider_login_url 'google' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="tag">Login</button>
            </form>
          </li>
        {% else %}
          <li class="my-auto mx-3">
            <a href="{% url 'base:profile' %}">Profile</a>
          </li>
          <li class="my-auto mx-3">
            <form method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
              {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
              {% endif %}
              <button class="tag" type="submit">Logout</button>
            </form>
          </li>
          <li class="static" data-te-nav-item-ref data-te-dropdown-ref>
            <a
              class="flex items-center whitespace-nowrap py-2 pr-2 transition duration-150 ease-in-out  lg:px-2"
              href="#"
              type="button"
              id="dropdownMenuButtonX"
              data-te-dropdown-toggle-ref
              aria-expanded="false"
              data-te-nav-link-ref
              >
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>
            </a>
            <div
              class="absolute left-0 right-0 top-full z-[1000] mt-0 hidden w-full border-none bg-white bg-clip-padding text-neutral-700 shadow-lg dark:bg-neutral-700 dark:text-neutral-200 [&[data-te-dropdown-show]]:block"
              aria-labelledby="dropdownMenuButtonY"
              data-te-dropdown-menu-ref>
              <div class="px-6 py-5 lg:px-8">
                <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-4">
                  <div>
                    <p
                      class="block w-full border-b border-neutral-200 px-6 py-2 font-black uppercase text-neutral-900">
                      Lorem ipsum
                    </p>
                    <a
                      href="#!"
                      aria-current="true"
                      class="block w-full border-b border-neutral-200 px-6 py-2"
                      >Dolor sit</a
                    >
                    <a
                      href="#!"
                      aria-current="true"
                      class="block w-full border-b border-neutral-200 px-6 py-2"
                      >Amet consectetur</a
                    >
                    <a
                      href="#!"
                      aria-current="true"
                      class="block w-full border-b border-neutral-200 px-6 py-2"
                      >Cras justo odio</a
                    >
                    <a
                      href="#!"
                      aria-current="true"
                      class="block w-full px-6 py-2 "
                      >Adipisicing elit</a
                    >
                  </div>
                  <div>
                    <p
                      class="block w-full border-b border-neutral-200 px-6 py-2 font-black uppercase text-neutral-900">
                      Classrooms
                    </p>
                    <a
                      href="{% url 'classroom:list_all' %}"
                      aria-current="true"
                      class="block w-full border-b border-neutral-200 px-6 py-2"
                      >All Classrooms</a
                    >
                    <a
                      href="{% url 'classroom:add' %}"
                      aria-current="true"
                      class="block w-full border-b border-neutral-200 px-6 py-2"
                      >Add Classroom</a
                    >
                  </div>
                  <div>
                    <p
                      class="block w-full border-b border-neutral-200 px-6 py-2 font-black uppercase text-neutral-900">
                      Access Management
                    </p>
                    <a
                      href="{% url 'access:list_PAG' %}"
                      aria-current="true"
                      class="block w-full border-b border-neutral-200 px-6 py-2"
                      >Professor Access Groups(PAG)</a
                    >
                    <a
                      href="{% url 'access:add_PAG' %}"
                      aria-current="true"
                      class="block w-full border-b border-neutral-200 px-6 py-2"
                      >Add PAG</a
                    >
                    <a
                      href="{% url 'access:list_SAG' %}"
                      aria-current="true"
                      class="block w-full border-b border-neutral-200 px-6 py-2"
                      >Student Access Groups(SAG)</a
                    >
                    <a
                      href="{% url 'access:add_SAG' %}"
                      aria-current="true"
                      class="block w-full px-6 py-2 "
                      >Add SAG</a
                    >
                  </div>
                  <div>
                    <p
                      class="block w-full border-b border-neutral-200 px-6 py-2 font-black uppercase text-neutral-900">
                      Admin
                    </p>
                    <a
                      href="{% url 'base:view_secret_tokens' %}"
                      aria-current="true"
                      class="block w-full border-b border-neutral-200 px-6 py-2"
                      >Secret Tokens</a
                    >
                    <a
                      href="{% url 'base:add_secret' %}"
                      aria-current="true"
                      class="block w-full border-b border-neutral-200 px-6 py-2"
                      >Add Secret Token</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </li>
          {% endif %}
        </ul>
      </ul>
    </div>
  </div>
</nav>
<script></script>
<script src="{% static 'js/navbar.js' %}" defer></script>
